@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');


html, body, h1, h2, h3, h4, h5, h6, ul, section, p, figure, figcaption{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-main{
    background-color: #000;
    display: flex;
    height: 80px;
    width: 100%;
    position: fixed;
}

.logo{
    margin: 5px 40px 5px 15px;
}

.logo img{
    height: 100%;
}

.menu-header {
    width: 40%;
}

.menu-header nav{
    height: 100%;
}
.menu-header nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-header nav ul li{
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

.menu-header nav ul li a{
    position: relative;
    padding: 3px 0;
}

.menu-header nav ul li a:after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fb0066;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out 0s;
}

.menu-header nav ul li a:hover:after{
    width: 100%;
}

.link-contato{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.link-contato a{
    width: 100px;
    height: 40px;
    background-color: #fb0066;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 20px;
}

.link-contato a:hover{
    background-color: #bd004b;
}

a{
    text-decoration: none;
    color: #fff;
}

#banner{
    background: url("../img/banner.jpg") no-repeat center center/cover;
    width: 100%;
    height: 580px;
    padding-top: 80px;
}

#banner div{
    width: 45%;
    height: 30%;
}

#banner div h1{
    color: #fff;
    font-size: 40px;
    padding: 50px;
}

#explanation{
    background: url("../img/background.webp") no-repeat center center/cover;
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fff;
}

#explanation div{
    width: 50%;
}

#explanation div article{
    color: #fff;
    font-size: 30px;
}

#watch{
    height: 400px;
    background-color: #462896;
    border-top: 3px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#watch h2{
    color: #fff;
    padding: 30px 0;
    font-size: 30px;
}

.demonstration{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
}

.demonstration figure{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px -3px rgb(14, 13, 26), 0 3px 16px 2px rgba(7, 48, 114, 0.705), 0 8px 12px 1px rgba(34, 0, 51, 0.616);
    cursor: pointer;
}
.demonstration figure:hover{
    transform: scale(1.2);
    transition: transform 0.2s linear;
}

.demonstration figure img{
    width: 80%;
}

.demonstration figure figcaption{
    color: #000;
    margin-top: 15px;
    font-size: 20px;
}

