@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, a, article, span, p{
    color: #fff;
}


.header-main{
    background-color: #000;
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    z-index: 100;
    position: fixed;
}

.logo{
    margin: 5px 40px 5px 15px;
    height: 100%;
}

.logo img{
    height: 100%;
}

#btMenu{
    display: none;
    border: none;
    background-color: transparent;
}

#btMenu i{
    color: #fff;
    font-size: 30px;
}

#btMenu:focus{
    color: red; 
}

#btMenu:focus + .menu-header{
    opacity: 1;
    visibility: visible;
}

.menu-header{
    width: 70%;
}

.menu-header nav{
    height: 100%;
}
.menu-header nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-header nav ul li{
    display: inline-block;
    margin: 0 20px;
    list-style: none;
}

.menu-header nav ul li a{
    position: relative;
    padding: 3px 0;
    font-size: 1rem;
    font-weight: 500;
}

.menu-header nav ul li a:after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #fb0066;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out 0s;
}

.menu-header nav ul li a:hover:after{
    width: 100%;
}

.link-contato{
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.link-contato a{
    width: 140px;
    height: 40px;
    background-color: #fb0066;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px;
    transition: transform 0.2s linear;
}

.link-contato a:hover{
    background-color: #bd004b;
}

a{
    text-decoration: none;
}

#banner{
    background: url("../img/banner.jpg") no-repeat center center/cover;
    width: 100%;
    min-height: 580px;
    padding-top: 80px;
}

#banner div{
    width: 55%;
    padding: 50px;
}

#banner div h1{
    font-size: 3.3rem;
    text-transform: uppercase;
    font-weight: 900;
}

#explanation{
    background: url("../img/background.webp") no-repeat center center/cover;
    width: 100%;
    min-height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fff;
}

#explanation div{
    width: 50%;
}

#explanation div article{
    font-size: 1.9rem;
}

#watch{
    height: auto;
    background-color: #462896;
    border-top: 3px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section-title{
    font-size: 2rem;
    margin-bottom: 40px;
}

#explanation, #watch, #differential, #films, #contact{
    padding: 40px 20px;
}

.demonstration{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.demonstration figure .info-box{
    transition: all 0s ease-in-out 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgba(250, 250, 250, 1);
}
.demonstration figure .info-box .info{
    padding: 20px;
    color: #bd004b;
}
.demonstration figure .info-box .info h4{
    margin-bottom: 10px;
}

.demonstration figure{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px -3px rgb(14, 13, 26), 0 3px 16px 2px rgba(7, 48, 114, 0.705), 0 8px 12px 1px rgba(34, 0, 51, 0.616);
    cursor: pointer;
    transition: transform 0.1s linear;
    position: relative;
}
.demonstration figure:hover{
    transform: scale(1.2);
    border-radius: 0;
}

.demonstration figure img{
    width: 80%;
}

.demonstration figure:hover .info-box{
    opacity: 1;
}

.demonstration figure figcaption{
    color: #000;
    margin-top: 15px;
    font-size: 1.2rem;
}

#differential{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 550px;
    width: 100%;
}

.differential-tittle{
    width: 85%;
}

#differential .differential-tittle h2{
    color: #1C1E21;
}

.container-differential{
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.differential-items{
    width: 31.5%;
    height: 250px;
}

.differential-items figure{
    width: 100%;
    height: 100%;
}

.differential-items figure figcaption{
    columns: #1C1E21;
    font-size: 1.2rem;
    margin-top: 15px;
}

.differential-items figure img{
    width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 2px;
}

#films{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03071b;
    height: auto;
}

#films div:first-child{
    width: 80%;
}

#films .films-items{
    width: 80%;
}

#films .films-items ul{
    display: grid;
    grid-template-columns: repeat(5 ,2fr);
    grid-gap: 30px;
    list-style: none; 
}
.films-items ul li{
    justify-content: center;
    display: flex;
}

.films-items ul li img{
    width: 185px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
    border: 6px dotted transparent;
    transition: all 0.20s ease-in-out 0s;
}

.films-items ul li img:hover{
    border-color:  #fff;
}

#films .btn-films{
    margin-top: 60px;
}

#films .btn-films button{
    background-color: transparent;
    color: #fb0066;
    width: 130px;
    height: 45px;
    border: 1px solid #fb0066;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.15s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 10px;
    text-align: center;
    margin-bottom: 40px;
}

#films .btn-films button:hover{
    background-color: #fb0066;
    color: #fff;
}

#contact{
    min-height: 400px;
    display: flex;
    background-color: #1F2041;
    justify-content: space-between;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

#contact div, #contact form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contact div h3{
    font-size: 3rem;
}

#contact div div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contact div div span{
    padding: 10px 20px;
    font-size: 2rem;
    cursor: pointer;
    transition: transform 0.1s linear;
}

#contact div div span:hover{
    transform: scale(1.3);
}

#contact form input{
    width: 60%;
    height: 55px;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 7px;
    color: #9F9F9F;
    font-size: 18px;
    border: none;
}

#contact form button{
    width: 20%;
    height: 35px;
    background-color: #fb0066;
    color: #fff;
    border-radius: 20px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.15s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 10px;
    text-align: center;
    border: none;
    margin-bottom: 40px;
}

#contact form button:hover{
    background-color: #bd004b;
}

footer{
    background-color: #000;
    display: flex;
    padding: 10px 30px;
    height: 40px;
}

footer div{
    width: 50%;
    display: flex;
    align-items: center;
}

footer div img{
    max-width: 100px;
    max-height: 100%;
}

@media (max-width: 1024px){
    .logo{
        margin: 5px 20px 5px 10px;
    }

    .menu-header nav ul li a{
        font-size: 13px;
    }

    .link-contato a{
        font-size: 13px;
    }

    #banner div h1{
        font-size: 1.8rem;
    }

    #films .films-items ul{
        grid-template-columns: repeat(3 ,4fr);
        grid-gap: 15px;
    }

    .container-differential{
        display: flex;
        flex-direction: column;
        width: 85%;
        align-items: center;
    }
    
    .differential-tittle h2{
        text-align: center;
    }

    .differential-items{
        width: 60%;
        height: 350px;
    }

    #contact form button{
        font-size: 13px;
        width: 25%;
    }

    footer div p{
        font-size: 0.7rem;
    }
}    

@media (max-width: 768px){
    .header-main{
        justify-content: space-between;
    }
    .menu-header{
        position: fixed;
        background-color: rgb(83, 2, 83);
        width: 100%;
        height: 100%;
        opacity: 0;
        visibility: hidden;
        top: 80px;
        left: 0;
        overflow: hidden;
        transition: all 0.25s ease-in-out 0s;
        
    }

    .menu-header nav{
        padding: 20px;  
    }

    .menu-header ul{
        flex-direction: column;
    }

    .menu-header ul li{
        display: block;
        width: 100%;
    }

    .menu-header nav ul li a{
        width: 100%;
        display: inline-block; 
        padding: 10px 20px;
        font-size: 20px;
    }

    .link-contato{
        width: 100%;
        padding: 0 40px;
    }

    .link-contato{
        display: none;
    }

    #btMenu{
        display: block;
        margin-right: 20px;
    }

    #explanation div, #banner div{
        width: 100%;
    }

    #banner{
        display: flex;
        align-items: center;
    }

    #banner div h1{
        font-size: 2.5rem;
    }

    #explanation div article{
        font-size: 2rem;
    }

    .demonstration{
        flex-direction: column;
        align-items: center;
    }

    .demonstration figure{
        width: 150px;
        height: 150px;
        margin-bottom: 40px;
    }

    .info-box{
        font-size: 12px;
    }

    .differential-items figure figcaption{
        font-size: 1.4rem;
    }

    #contact{
        flex-direction: column;
        align-items: center;
        padding: 30px 0;
    }

    #contact form{
        width: 80%;
        margin-top: 50px;
    }

    #contact div h3{
        font-size: 2.5rem;
    }

    #contact div div span{
        font-size: 1.5rem;
    }
    #contact form input{
        width: 100%;
        height: 48px;
    }
    
    #films .films-items ul{
        grid-template-columns: repeat(2 ,4fr);
    }

    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 80px;
    }
    
    footer div:first-child, footer div:last-child{
        display: flex;
        justify-content: center;
    }
}