@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap');


html, body, h1, h2, h3, h4, h5, h6, ul, section, p, figure, figcaption{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container-main{
    background-color: #000;
    display: flex;
    height: 80px;
    width: 100%;
}

.logo{
    margin: 5px 40px 5px 15px;
}

.logo img{
    height: 100%;
}

.menu-header {
    width: 40%;
}

.menu-header nav{
    height: 100%;
}
.menu-header nav ul{
    display: flex;
    align-items: center;
    height: 100%;
}

.menu-header nav ul li{
    display: inline-block;
    margin: 0 10px;
    list-style: none;
}

.menu-header nav ul li a{
    position: relative;
    padding: 3px 0;
}

.menu-header nav ul li a:after{
    content: '';
    width: 0%;
    height: 1px;
    background-color: #fb0066;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out 0s;
}

.menu-header nav ul li a:hover:after{
    width: 100%;
}

.link-contato{
    width: 40%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.link-contato a{
    width: 100px;
    height: 40px;
    background-color: #fb0066;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
}

.link-contato a:hover{
    background-color: #bd004b;
}

a{
    text-decoration: none;
    color: #fff;
}

#banner{
    background: url("../img/banner.jpg") no-repeat center center/cover;
    width: 100%;
    height: 580px;
    padding-top: 80px;
}

#banner div{
    width: 45%;
    height: 30%;
}

#banner div h1{
    color: #fff;
    font-size: 40px;
    padding: 50px;
}

#explanation{
    background: url("../img/background.webp") no-repeat center center/cover;
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #fff;
}

#explanation div{
    width: 50%;
}

#explanation div article{
    color: #fff;
    font-size: 30px;
}

#watch{
    height: 400px;
    background-color: #462896;
    border-top: 3px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#watch h2{
    color: #fff;
    padding: 30px 0;
    font-size: 30px;
}

.demonstration{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    width: 80%;
}

.demonstration figure{
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px 10px -3px rgb(14, 13, 26), 0 3px 16px 2px rgba(7, 48, 114, 0.705), 0 8px 12px 1px rgba(34, 0, 51, 0.616);
    cursor: pointer;
    transition: transform 0.1s linear;
}
.demonstration figure:hover{
    transform: scale(1.2);
}

.demonstration figure img{
    width: 80%;
}

.demonstration figure figcaption{
    color: #000;
    margin-top: 15px;
    font-size: 20px;

}

#differential{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
    width: 100%;
}

#differential div:first-child{
    width: 80%;
}

#differential h2{
    padding: 50px 0;
    font-size: 30px;
    color: #1C1E21;
}

.differential-items{
    display: flex;
    width: 80%;
}

.differential-items figure{
    width: 400px;
    height: 250px;
    margin-right: 30px;
}

.differential-items figure figcaption{
    columns: #1C1E21;
    font-size: 20px;
    margin-top: 15px;
}

.differential-items figure img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

#films{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #03071b;
    height: 800px;
}

#films div:first-child{
    width: 80%;
    margin: 50px 0;
}

#films div:first-child h3{
    color: #fff;
    font-size: 25px;
}

#films .films-items{
    width: 80%;
}

#films .films-items nav ul{
    display: grid;
    grid-template-columns: repeat(5 ,2fr);
    grid-gap: 30px;
    list-style: none;
}

.films-items nav ul li img{
    width: 185px;
    height: 250px;
    border-radius: 5px;
    cursor: pointer;
    border: 6px dotted transparent;
    transition: all 0.20s ease-in-out 0s;
}

.films-items nav ul li img:hover{
    border-color:  #fff;
}

#films .btn-films{
    margin-top: 60px;
}

#films .btn-films button{
    background-color: transparent;
    color: #fb0066;
    width: 130px;
    height: 45px;
    border: 1px solid #fb0066;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.15s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 9px 10px;
    text-align: center;
}

#films .btn-films button:hover{
    background-color: #fb0066;
    color: #fff;
}